/* You can add global styles to this file, and also import other style files */
:root {
  --table-togglebutton_bg: #3b82f6ff;
  --table-togglebutton_text_color: white;
  --table-togglebutton_bg_active: #1d4ed8ff;
  --table-togglebutton_text_color_active: white;
}
